<?xml version="1.0"?>
<config>
    <modules>
        <Learning_Marque>
            <version>0.1.0</version>
        </Learning_Marque>
    </modules>
    <global>
        <helpers>
            <learning_marque>
                <class>Learning_Marque_Helper</class>
            </learning_marque>
        </helpers>
        <blocks>
            <learning_marque>
                <class>Learning_Marque_Block</class>
            </learning_marque>
        </blocks>
        <models>
            <learning_marque>
                <class>Learning_Marque_Model</class>
                <resourceModel>learning_marque_resource</resourceModel>
            </learning_marque>
            <learning_marque_resource>
                <class>Learning_Marque_Model_Resource</class>
                <entities>
                    <marque>
                        <table>learning_marque_marque</table>
                    </marque>
                </entities>
            </learning_marque_resource>
        </models>
        <resources>
            <learning_marque_setup>
                <setup>
                    <module>Learning_Marque</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </learning_marque_setup>
            <learning_marque_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </learning_marque_write>
            <learning_marque_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </learning_marque_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <learning_marque>
                <use>standard</use>
                <args>
                    <module>Learning_Marque</module>
                    <frontName>marque</frontName>
                </args>
            </learning_marque>
        </routers>
        <layout>
            <updates>
                <learning_marque>
                    <file>learning/marque.xml</file>
                </learning_marque>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Learning_Marque_Adminhtml before="Mage_Adminhtml">Learning_Marque_Adminhtml</Learning_Marque_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <learning_marque>
                    <files>
                        <default>Learning_Marque.csv</default>
                    </files>
                </learning_marque>
            </modules>
        </translate>
        <layout>
            <updates>
                <learning_marque>
                    <file>learning_marque/learning_marque.xml</file>
                </learning_marque>
            </updates>
        </layout>
    </adminhtml>
</config>